/*
tipografia
*/
body, p, h1,h2,h3,h4, a, span, strong, b, li {
	font-family: 'Lato', sans-serif;
}
html {font-size: 16px; }
@media (max-width: 767px) {
	html { font-size: 12px;	}
}

p {	font-size: 1rem; }
h2 {
    color: #2a0340;
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
    margin: 10px 0 20px;
}
h3 {
    font-size: 24px;
    font-weight: 900;
    color: #2a0340;
    line-height: 1;
    margin: 10px 20px;
}
h4 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.page section p {
	font-size: 20px;
}

.center {
	text-align: center;
}

/*
secoes
*/
.page .entry-content > section {
	padding: 50px 5vw;
}
/*
grind
*/
div.flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
}
.flex > .half {
    max-width: calc(50% - 30px);
    width: 100%;
}
.flex > .third {
    max-width: calc(100%/3 - 30px);
    width: 100%;
}
.flex > .quarter {
    max-width: calc(25% - 30px);
    width: 100%;
}
.flex > .fifth {
    max-width: calc(100%/5 - 30px);
}
@media (max-width: 767px) {
	.flex > div {
		min-width: 100%;
	}
	
}
/*
removendo margin do conteudo em relacao ao header
*/
body .entry-content {
    margin: 0 auto;
}
footer.entry-footer {
	display: none;
}
/*
botao
*/
a.btn {
    background-color: #ffd215;
    color: #461701;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    padding: 16px 30px;
    border-radius: 5px;
    border-bottom: 4px solid #c6a002;
    font-size: 16px;
    display: inline-block;
    margin: 20px 0;
}

/*botao default todo site*/
button, input[type="button"], input[type="reset"], input[type="submit"]{
	background: #ffd215;
    padding: 18px 20px;
    border-radius: 5px;
    color: #444;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
}
/*botao default todo site*/

/*
separador de titulo
*/
*.sep {
	margin-bottom: 0;
}
.sep + hr {
    margin: 10px 0 30px;
    width: 50px;
    height: 4px;
    background: #883db3;
}

.sep.center + hr {
    margin: 0 auto 30px;
}

/*header*/
.home header.entry-header {
	display: none;
}
li#menu-item-203 a {
    background: url(https://2018.floripa.wordcamp.org/files/2018/02/vector-smart-object.png);
    width: 90px;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px 0px;
    color: transparent;
}
nav#site-navigation {
    background: #530580;
}
body .page-navigation-container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page-navigation-container a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
li#menu-item-203 {
    margin-right: 80px;
}
li#menu-item-204 a {
    background: #ffd215;
    padding: 18px 20px;
    border-radius: 5px;
    color: #444;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 15px;
}

ul#primary-menu {
    max-width: 90vw;
    margin: 0 auto;
}


/*primeira secao da home*/
.home .entry-content section:nth-of-type(1) {
    background: url(https://2018.floripa.wordcamp.org/files/2018/02/bg-home-1.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .entry-content section:first-child h1 {
    font-size: 42px;
    color: #ffffff;
    text-shadow: 0px 11px 19px rgba(0, 0, 0, 0.36);
    margin: 10px 0;
}

.home .entry-content section:first-child img {
    height: auto;
    max-width: 100%;
    width: 32vw;
    margin: 0 auto;
}

/*home segunda secao*/

.home .entry-content section:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .entry-content section:nth-of-type(2) > div {
    margin-left: 40px;
	max-width: 510px;
}
.home .entry-content section:nth-of-type(2) > div img {
	max-width: 450px;
}

/*home terceira secao*/
.home .entry-content section:nth-of-type(3) {
	background: url(/files/2018/02/bg_programacao.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
}

.home .entry-content section:nth-of-type(3) h2 {
	color: #ffffff;
}

.home .entry-content section:nth-of-type(3) img {
	border-radius: 50%;
}
.home .entry-content section:nth-of-type(3) strong {
	font-size: 22px;
}
.home .entry-content section:nth-of-type(3) div.quarter {
	padding: 0 20px;
}

/*home se05 -sobre floripa*/
.home .entry-content section:nth-of-type(5) {
	background-image: url(/files/2018/02/flp-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
}
.home .entry-content section:nth-of-type(5) h2 {
	color: #fff;
}

.home .blog .third {
	padding: 0 20px;
}
.home .blog .third  a.btn { margin-top: 0; }

/*page contato*/
article.post-17 {
	text-align: center;
}

article.post-17 h1 {
	color: #2a0340;
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
    margin: 10px 0 20px;
}

#contact-form-17 {
	width: 50%;
	margin: 0 auto;
}

.contact-form input[type=email], .contact-form input[type=text], .contact-form input[type=url] {
    height: 45px;
    float: left;
}

#contact-form-17 input, #contact-form-17 textarea {
	width: 100% !important;
    max-width: 100%;
}
/*page contato*/

/*footer*/
footer {
	background-color: #530580;
}

div#footer-widgets {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 5vw;
}
div#footer-widgets > div {
    max-width: 33%;
    width: 100%;
}

footer ul, footer li {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer li.menu-item a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}