/*
Tipografia
*/
body, p, h1, h2, h3, h4, a, span, strong, b, li {
	font-family: 'Roboto', sans-serif;
}

html {
	font-size: 16px;
}

h2 {
	font-size: 80px;
	font-weight: 700;
	line-height: 92px;
}

@media (max-width: 767px) {
	html {
		font-size: 14px;
	}
}

/* 
 * Header/Menu 
*/
header#masthead {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	margin: 0 auto;
	padding: 20px 0 0;
}

nav#site-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-end;
}

ul#primary-menu li {
	margin: 0 20px;
}

ul#primary-menu li a {
	font-size: 23px;
	font-weight: 600;
	color: #2D013F;
}

/* 
Página Inicial  
*/

.home header.entry-header {
	display: none;
}